<div class="row">
    <div class="col">
        <h2>There are {{restaurants.length}} restaurants</h2>
    </div>
</div>
<div class="row">
    {{#each restaurants}}
        <div class="card" style="max-width: 18rem;">
            <div class="card-header">
                <h2>{{name}}</h2>
            </div>
            <img class="card-img" src="{{image}}" />
            <div class="card-body">
                <a class="btn btn-primary" href="/restaurants/{{id}}">View Restaurant</a>
            </div>
        </div>
    {{/each}}
</div>
